.nav-link{
    color:white;
}

.activo{
    background-color:rgb(233, 238, 243);
    color: rgb(45, 45, 54);
}

ul > nav > ul > li > a:hover{
    background-color:rgb(18, 17, 26);
}

.doc{
    background-color: #23B0AB;
}

.deporte{
    background-color: #25BA58;
}
.musica{
    background-color: #52A328;
}
.cursos{
    background-color: #A39F2E;
}
.viajes{
    background-color: #A38220;
}
.destacado{
    background-color: rgb(185, 107, 107);
}
.icon{
    width:100%;
    height: auto;
}
.more{
   color: #23b0ab;
   text-align: right;
}
