.nav-link{
    color:white;
}

.activo{
    background-color:rgb(233, 238, 243);
    color: rgb(45, 45, 54);
}

ul > nav > ul > li > a:hover{
    background-color:rgb(18, 17, 26);
}

.doc{
   background-color: #fff;
}

.deporte{
   background-color: #fff;
}
.musica{
   background-color: #fff;
}
.cursos{
   background-color: #fff;
}
.viajes{
    background-color: #fff;
}
